body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

img{
    padding: 16px; 
}

p{
    margin: 0px;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 12px;
}

.first-container,
.second-container,
.third-container,
.fourth-container,
.footer{
    display: flex;
    justify-content: center;
}

.first-container{
    background-color: #1F2937;
    height: auto;
}

.second-container{
    height: auto;
}

.third-container{
    background-color: #E5E7EB;
    height: auto;
}

.fourth-container{
    align-items: center;
    height: 250px;
}

.footer{
    align-items: center;
    height: 80px;
    background-color: #1F2937;
}

.copyright{
    font-weight: 200;
    font-size: 12px;
    color: #F9FAF8;
}

.first,
.second,
.quote-container{
    display: flex;
    flex-direction: column;
}

.first,
.second{
    flex: 0 1 1000px;
}

.action-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    flex: 0 1 600px;
    height: 100px;
    border-radius: 4px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text{
    font-size: 16px;
    color: #F9FAF8;
}

.sub-text{
    font-size: 12px;
    color: #E5E7EB;
}

.quote-container{
    flex: 0 1 600px;
    padding: 36px;
}

.header,
.header-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px
}

.header-body{
    flex-grow: 1;
}

.header-body-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    flex: 0 1 468px;
}

.header-logo,
.title{
    color:#F9FAF8;
    font-weight: 900;
}

.header-logo{
    font-size: 24px;
}

.images{
    display: flex;
    gap: 40px;
}

.image-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.info-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 24px;
}

.body{
    padding-bottom: 24px;
}

.title{
    font-size: 48px;
}

.signup-button{
    width: 90px;
    height: 28px;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 4px 16px;
    border-radius: 8px;
    border-color: white;
}

.subtitle,
li{
    font-size: 18px;
    color: #E5E7EB;
}

.author{
    align-self: flex-end;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
